# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*

# Data files
data/raw/*
data/processed/*
!data/processed/.gitkeep
*.csv
*.parquet

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Airflow runtime logs
airflow/logs/*
!airflow/logs/.gitkeep

# OS
.DS_Store
Thumbs.db